.table {
    width: 99%;
  }
.mat-table{
  width: 99%;
}

th.mat-sort-header-sorted {
    color: black;
  }

.action {
    width: 50%;
    max-height: 100px;
    overflow: auto;
}

.btn-space{
  margin: 10px;
}

.big-filter{
  display:none;
}
.mat-column-name {
  max-width: 50%;
}
.mat-column-mime_type {
  max-width: 1px;
}
.mat-column-last_modified {
  max-width: 1px;
}
.mat-column-size {
  max-width: 1px;
}
.mat-column-s3_uuid {
  max-width: 1px;
}
.mat-column-user {
  max-width: 1px;
}
.mat-column-pipeline_result {
  max-width: 60px;
}
.mat-column-action {
  max-width: 1px;
}
.mat-header-cell-name{
  min-width: 50px;
}