.table {
    width: 100%;
  }
th.mat-sort-header-sorted {
    color: black;

  }

.action {
    width: 50%;
    max-height: 100px;
    overflow: auto;

}
.btn-space{
  margin: 10px;
}
.big-filter{
  display:none;
}
