<app-s3-upload-files (refreshEvent)="refresh($event)"></app-s3-upload-files>

<div class="table mat-elevation-z8">

  <mat-table [dataSource]="fileDownload$.getValue()" matSort>

    <ng-container matColumnDef="search_bar_name">
      <th mat-header-cell *matHeaderCellDef>
        <input matInput [formControl]="nameFilter" placeholder="File name" #input>
      </th>
    </ng-container>

    <ng-container matColumnDef="search_bar_fileType">
      <th mat-header-cell *matHeaderCellDef>
        <input matInput [formControl]="fileTypeFilter" placeholder="File Type" #input>
      </th>
    </ng-container>

    <ng-container matColumnDef="search_bar_lastModified">
      <th mat-header-cell *matHeaderCellDef>
        <input matInput [formControl]="lastModifiedFilter" placeholder="Last Modified Date" #input>
      </th>
    </ng-container>

    <ng-container matColumnDef="search_bar_size">
      <th th mat-header-cell *matHeaderCellDef>
        <input matInput [formControl]="sizeFilter" placeholder="File Size" #input>
      </th>
    </ng-container>

    <ng-container matColumnDef="search_bar_s3Uuid">
      <th th mat-header-cell *matHeaderCellDef>
        <input matInput [formControl]="s3UuidFilter" placeholder="S3 Uuid" #input>
      </th>
    </ng-container>

    <ng-container matColumnDef="search_bar_user">
      <th th mat-header-cell *matHeaderCellDef>
        <input matInput [formControl]="userFilter" placeholder="Upload By" #input>
      </th>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name"> Data Assets</th>
      <td mat-cell *matCellDef="let element"> {{ element.name }}</td>
    </ng-container>


    <ng-container matColumnDef="mime_type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by mime_type"> File Type</th>
      <td mat-cell *matCellDef="let element"> {{ element.mime_type }}</td>
    </ng-container>


    <ng-container matColumnDef="last_modified">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by last_modified_date"> Last
        Modified Date
      </th>
      <td mat-cell *matCellDef="let element"> {{ element.last_modified }}</td>
    </ng-container>

    <ng-container matColumnDef="size">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by file_size"> File Size</th>
      <td mat-cell *matCellDef="let element"> {{ element.size }}</td>
    </ng-container>

    <ng-container matColumnDef="s3_uuid">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by s3_uuid"> FileID</th>
      <td mat-cell *matCellDef="let element"> {{ element.s3_uuid }}</td>
    </ng-container>

    <ng-container matColumnDef="user">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by user"> Upload by</th>
      <td mat-cell *matCellDef="let element"> {{ element.user }}</td>
    </ng-container>

    <!--    <ng-container matColumnDef="pipeline_result">-->
    <!--      <th mat-header-cell *matHeaderCellDef  > Pipeline_Result</th>-->
    <!--      <td id = "action"*matCellDef="let element">-->
    <!--        <a href="dp_run">Pipeline_Result</a>-->
    <!--      </td>-->
    <!--    </ng-container>-->

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action</th>
      <td id="action" *matCellDef="let element">
        <button id="action_download_bt" type="button" class="btn btn-primary btn-space" (click)="handleDownload(element.uuid)">
          Download
        </button>
        <button id="action_delete_bt" type="button" class="btn btn-danger " (click)="handleDelete(element.uuid)">Delete
        </button>
        <button id="action_delete_bt" type="button" class="btn btn-primary btn-space " [routerLink]="['/fileResults/', element.s3_uuid]">Result
        </button>
      </td>

    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-header-row *matHeaderRowDef="['search_bar_name','search_bar_fileType','search_bar_lastModified','search_bar_size',
    'search_bar_s3Uuid','search_bar_user']"
    >
    </tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter</td>
    </tr>


  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"
                 [showFirstLastButtons]="true">
  </mat-paginator>
</div>








