<div class="outer">
    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
                <div class="panel border bg-white">
                    <div class="panel-heading">
                        <h3 class="pt-3 font-weight-bold">Sign Up</h3>
                    </div>
                    <div class="panel-body p-3">
                        <form >
                            <div class="form-group pt-3">
                                <div class="input-field">
                                    <span class="fa fa-user p-2"></span>
                                    <input type="text"placeholder="Firstname">
                                </div>
                            </div>
                            <div class="form-group pt-3">
                                <div class="input-field">
                                    <span class="fa fa-user p-2"></span>
                                    <input type="text"placeholder="Lastname">
                                </div>
                            </div>
                            <div class="form-group pt-3">
                                <div class="input-field">
                                    <span class="fa fa-user p-2"></span>
                                    <input type="text"placeholder="E-mail">
                                </div>
                            </div>
                            <div class="form-group pt-3">
                                <div class="input-field">
                                    <span class="fa fa-user p-2"></span>
                                    <input type="text"placeholder="Username">
                                </div>
                            </div>
                            <div class="form-group pt-3">
                                <div class="input-field">
                                    <span class="fa fa-lock p-2"></span>
                                    <input [type]="type"placeholder="Password">
                                    <span (click)="hideShowPass()" class="fa {{eyeIcon}}"></span>
                                </div>
                            </div>
                            
                            <button type="submit" class="btn btn-primary btn-block mt-4 w-100">Sign Up</button>
                            <div class="text-center pt-4 text-muted">Already have account?<a id="forget"routerLink="/login">Login</a>

                            </div>
                        </form>
                    </div>
                    
                    <!-- ###this is for out connection like facebook,google and github (Not necessary)### -->
                    <!-- <div class="mx-3 my-2 py-2 bordert">
                        <div class="text-center py-3">

                        </div>
                    </div> -->
                    

                </div>
            </div>
        </div>
    </div>
</div>