<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Config</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody>
  <div *ngFor="let datapipeline of (datapiplines | async); index as i">
    <tr>
      <th scope="row">{{ i + 1 }}</th>
      <td>
        {{ datapipeline.name }}
      </td>
      <td>{{ datapipeline.config }}</td>
      <td><button>Edit</button><button>Delete</button></td>

    </tr>
  </div>
  </tbody>
</table>
