<div class="d-flex justify-content-center">
  <div class="col-6">
    <h2>Start Pipeline</h2>
    <div class="d-flex justify-content-center">
      <div>
        <label>
          <input type="checkbox" [(ngModel)]="startPipelineWithFile"> Select pipeline to Start
        </label>
        <div *ngIf="startPipelineWithFile">
      <div>

      </div>
      <div class="row">
        <div class="col">
          <div ngbDropdown class="d-inline-block">
            <button type="button" class="btn btn-outline-primary" id="dagDropdown" ngbDropdownToggle>
              Select Datapipeline
            </button>
            <div ngbDropdownMenu aria-labelledby="dagDropdown">
              <ng-container *ngFor="let dag of (dags$ | async)?.dags">
                <button (click)="changeDag(dag)"ngbDropdownItem>{{ dag?.dag_id }}</button>
              </ng-container>
            </div>
            <p>
              Datapipeline: {{this.selectedDag?.dag_id}}
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="d-inline-block">

          </div>
        </div>
      </div>
      </div>
      </div></div>

      <p>Selected File: {{ this.selectedFile?.name }}</p>
    <input type="file" class="form-control" #fileInput (change)="selectFile()"/>
    <button type="button" class="btn btn-primary" (click)="selectFile()">Select</button>
    <button type="button" class="btn btn-primary" (click)="uploadFileWithUrl()">
      {{ startPipelineWithFile ? 'Upload & Start' : 'Upload file' }}
    </button>

    <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

  </div>
</div>
