<div class="d-flex mb-3">
  <div class="col-6 d-flex flex-row">

    <p style="margin-top: 15px">Selected File:
      <span class = "file_name_display">{{ selectedFileName }}</span>
    </p>

    <input type="file" class="form-control" hidden #fileInput (change)="selectFile()"/>

    <button type="button" class="btn btn-primary" (click)="selectFile()">SELECT</button>
    <button type="button" class="btn btn-success" (click)="uploadFileWithUrl()">UPLOAD</button>

    <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

  </div>
</div>

