.upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    border: 5px solid #ccc;
    padding: 20px;
  }
  .file_name_display{

    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 5px;
    padding-bottom:5px;
    margin-left: 10px;
    border-radius: 6px
  }

  .btn {
    margin: 5px;
  }
