<div class="d-flex justify-content-center" >
  <div class="px-3">

    <h1 class="d-flex justify-content-center">Welcome to DPSM!</h1>

    <div class="mb-2" style="display: flex; align-items: center; justify-content: center">
      <img style="width: 35%; background: black" src="assets/dpsm_logo_v2.svg" alt="">
    </div>

    <p class="d-flex justify-content-center">

      This is a small MVP for a datapipeline managment and integration environment.
    </p>

    <p class="d-flex justify-content-center">
      The datapipelines are based on &nbsp;<a href="https://airflow.apache.org/" target=”_blank”> apache airflow data pipelines</a>.
    </p>

    <p class="d-flex justify-content-center">
      And the data assets are loaded into &nbsp;<a href="https://aws.amazon.com/de/s3/" target=”_blank”> Amazon S3 Buckets</a>.
    </p>

    <p class="d-flex justify-content-center">
      For more information feel free to go to our github repository:
    </p>
    <p class="d-flex justify-content-center">
      <a href="https://github.com/amosproj/amos2023ws04-pipeline-manager" target=”_blank” class="btn btn-lg btn-light fw-bold border-white bg-white">Learn more</a>
    </p>
  </div>
</div>
