
<div class="d-flex mb-3">
    <div class="row m-1">
      <div class="col">
        <div ngbDropdown class="d-inline-block">
          <button type="button" class="btn btn-outline-primary" id="dagDropdown" ngbDropdownToggle>
            Select Datapipeline
          </button>
          <div ngbDropdownMenu aria-labelledby="dagDropdown">
            <ng-container *ngFor="let dag of (dags$ | async)?.dags">
              <button (click)="changeDag(dag)"ngbDropdownItem>{{ dag?.dag_id }}</button>
            </ng-container>
          </div>
          <p>
            Datapipeline: {{this.selectedDag?.dag_id}}
          </p>
        </div>
      </div>
    </div>

  <div class="row m-1">
    <div class="col">
      <div ngbDropdown class="d-inline-block">
        <button type="button" class="btn btn-outline-primary" id="fileDropdown" ngbDropdownToggle>
          Select File
        </button>
        <div ngbDropdownMenu aria-labelledby="fileDropdown">
          <ng-container *ngFor="let file of (files$ | async)">
            <button (click)="changeFile(file)"ngbDropdownItem>{{ file?.name }}</button>
          </ng-container>
        </div>
        <p>
          File: {{this.selectedFile?.name}}
        </p>
      </div>
    </div>
  </div>

  <div class="row m-1">
    <div class="col">
      <div class="d-inline-block">
        <button type="button" class="btn btn-success" (click)="this.startPipeline()">
          Start Pipeline
        </button>
      </div>
    </div>
  </div>
</div>


