<div>
  <h2>Start Pipeline</h2>

  <button class="btn btn-primary" (click)="getAvailablePipelines()">Get Available Pipelines</button>

  <button *ngIf="selectedS3File && selectedPipeline" (click)="startPipeline()">Start Pipeline</button>

  <h2>Select S3 Files</h2>
  <button class="btn btn-primary" (click)="getS3Files()">Get S3 Files</button>

  <div *ngIf="s3Files">
      <label for="fileSelect">Select a file:</label>
      <select id="fileSelect" [(ngModel)]="selectedS3File">
        <option *ngFor="let file of s3Files" >{{ file }}</option>
    </select>
</div>

<div *ngIf="pipelines">
    <h3>Available Pipelines:</h3>
    <ul>
        <li *ngFor="let pipeline of pipelines">{{ pipeline.name }}</li>
    </ul>
</div>
</div>

