.form-group {
    margin-bottom: 50px; /* space between input boxes*/
  }
  
  .form-control {
    width: 80%; 
    padding: 20px; /*padding for a larger input box */
  }
  
  .btn {
    margin-top: 10px; /*space between the last input box and the button */
  }
  